* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #003645, #00798c);
  overflow: hidden;
}

#retour {
  position: fixed;
  top: 20px;
  left: 20px;
  margin: 2px;
  font-size: 14px;
  padding: 12px 40px;
  background-color: #ffffff;
  color: #000000 !important;
  border-radius: 30px;
  text-decoration: none;
  z-index: 999;
}

.grid-layout {
  display: grid;
  grid-template-rows: auto auto auto;
  border-radius: 30px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}


.chat-bubble {
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(8px);
  color: black;
  border-radius: 20px;
  padding: 4px 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 300px;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
  opacity: 0;
}


.chat-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 9999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}


.player-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.player-text {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 4px;
}

.profile-timer {
  position: relative;
  width: 80px;
  height: 80px;
  margin-left:10px;
  margin-right:10px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  object-fit: cover;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
}

.progress-ring {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.3s linear, stroke 0.3s linear;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  min-width: 200px;
  margin-top: 10px;
  text-align: left;
}

.dropdown-content strong {
  display: block;
  margin-top: 10px;
  color: #333;
}

.card1 {
  display: inline-block;
  margin: 5px 3px;
  padding: 5px 8px;
  background-color: lightblue;
  border-radius: 5px;
  font-size: 14px;
}



.choix{
	width:6rem;
	height:calc(6rem * (3/2));
	background-size:cover;
	background-position:center;
	border :1px solid #000;
	margin:4px;
	cursor:pointer;
}

.choix:hover{
	transform:scale(1.1);
}

#menu-cartes,
#mes-cartes{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#box_cartes{
  width: 60vw;
  min-width: 300px;
  min-height: 500px;
  max-height: 50vh;
  background-color: rgba(0,54,69,0.9);
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
  animation: openMenu 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(8px);
}

#grille_cartes{
	display:grid;
	position:absolute;
	top:10%;
	left:5%;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
	gap:10px;
	width:90%;
	height:80%;
	justify-items: center;
	align-items: center;
	overflow-y: auto;
	overflow-x:hidden;
	backdrop-filter: blur(8px);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.2);
}

#grille_cartes::-webkit-scrollbar {
  width: 6px;
}

#grille_cartes::-webkit-scrollbar-track {
  background: transparent; /* enlève le fond blanc */
}

#grille_cartes::-webkit-scrollbar-thumb {
  background-color: black; /* la "barre" noire */
  border-radius: 3px;
  border: none;
}
#grille_cartes::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

/*Pour Firefox*/
#grille_cartes {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}


.titre_menu{
	font-size:2rem;
	font-weight:600;
	text-shadow:0px 0px 3px #fcfcfc;
	color:white;
}

.close{
	background:none;
	position:absolute;
	right:15px;
	color:red;
	font-size:2rem;
	cursor:pointer;
}

@keyframes openMenu {
    0% { transform:  scale(0); opacity: 1; }
    100% { transform:  scale(1); opacity: 1; }
} 

/*------------------------------------------------*/
.loader_box {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #003645, #00798c);
  color: white;
  font-size: 2rem;
}
.loader_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loader_text {
  font-size: 2rem;
  color: white;
  margin: 0;
  font-weight:600;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


/*------------------------------------------------*/

.top-section,
.bottom-section {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.top-section {
  margin-bottom: 5%;
  margin-right: 10%;
}

.bottom-section {
  margin-top: 3%;
  margin-left: 7%;
}

.middle-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  height: 250px;
}

.middle-section .box {
  height: 150px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.two-player {
  display: grid;
  gap:20px;
  height: 250px;
}

.two-player2 {
  display: grid;
  gap:20px;
  height: 250px;
}

.right > .player-info {
	flex-direction: row-reverse;
}

.two-player2 > .player-info {

  flex-direction: row-reverse;
  margin-left: 4%
}

.cards,
.cards1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.pioche-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25%;
}


.card,
.card1 {
  background: white;
  border-radius: 16px;
  border: 2px solid #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
  transform-origin: bottom center;
  z-index: calc(var(--index));
  position: relative;
}


.card1{
  width: 5rem;
  height: 7rem;
}

.card {
  height: 11rem;
  width:calc(11rem * (2/3));
  background-size: cover
}

.card2 {
  width:calc(9rem * (2/3));
  height: 9rem;
  background: white;
  border-radius: 16px;
  border: 2px solid #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  transform-origin: bottom center;
  z-index: calc(var(--index));
  position: absolute;
  font-weight: bold;
  cursor:pointer;
}

#pioche-count {
  background-color: #7cd0cf !important;
  position: relative;
  overflow: visible;
}

/*-------------------------------------------------
	Animation Bonne pioche */
#pioche-count::before,
#pioche-count::after {
  position: absolute;
  content: "";
  width: 150%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  background-repeat: no-repeat;
  pointer-events: none;
}

#pioche-count.fire::before {
  top: -70%;
  background-image: 
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(transparent 20%, #FFD700 20%, transparent 30%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(transparent 10%, #FFD700 15%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 1.5s ease-in;
}

#pioche-count.fire::after {
  bottom: -70%;
  background-image: 
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(transparent 10%, #FFD700 15%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%),
    radial-gradient(#FFD700 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% -40%;
  animation: greenbottomBubbles 1.5s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/*-------------------------------------------------*/

#voir_plus{
	display:flex;
	text-align:center;
	font-size:100%;
	color:black;
	font-weight:600;
	text-shadow:0 0 0.5em white;
	align-items: center;
	height: 100%;
}



.cards-wrapper {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1rem;
  gap: 0;
}


.card-count {
  position: absolute;
  color: #003645cc;
  font-size: 24px;
}

.pioche-cards > *:nth-child(1) { transform: rotate(-8deg); z-index: 1; }
.pioche-cards > *:nth-child(2) { transform: rotate(5deg);  z-index: 1; }
.pioche-cards > *:nth-child(3) { transform: rotate(-3deg); z-index: 1; }
.pioche-cards > *:nth-child(4) { transform: rotate(10deg); z-index: 1; }
.pioche-cards > *:nth-child(5) { transform: rotate(1deg);  z-index: 1; }

.pioche-cards > *:nth-child(6) { transform: rotate(-8deg); z-index: 1; }
.pioche-cards > *:nth-child(7) { transform: rotate(5deg);  z-index: 1; }
.pioche-cards > *:nth-child(8) { transform: rotate(-3deg); z-index: 1; }
.pioche-cards > *:nth-child(9) { transform: rotate(8deg); z-index: 1; }
.pioche-cards > *:nth-child(10) { transform: rotate(1deg);  z-index: 1; }

.cards > *:nth-child(1) { --index: 0; transform: translateX(0%); }
.cards > *:nth-child(1):hover { transform: translateX(0%) translateY(-20px) !important;}

.cards > *:nth-child(2) {
  --index: 1;
  transform: translateX(-50%);
}
.cards > *:nth-child(2):hover {
  transform: translateX(-50%) translateY(-20px) !important;
}

.cards > *:nth-child(3) {
  --index: 2;
  transform: translateX(-100%);
}
.cards > *:nth-child(3):hover {
  transform: translateX(-100%) translateY(-20px) !important;
}

.cards > *:nth-child(4) {
  --index: 3;
  transform: translateX(-150%);
}
.cards > *:nth-child(4):hover {
  transform: translateX(-150%) translateY(-20px) !important;
}

.cards > *:nth-child(5) {
  --index: 4;
  transform: translateX(-200%);
}
.cards > *:nth-child(5):hover {
  transform: translateX(-200%) translateY(-20px) !important;
}

.cards > *:nth-child(6) {
  --index: 5;
  transform: translateX(-250%);
}
.cards > *:nth-child(6):hover {
  transform: translateX(-250%) translateY(-20px) !important;
}

.cards > *:nth-child(7) {
  --index: 6;
  transform: translateX(-300%);
}
.cards > *:nth-child(7):hover {
  transform: translateX(-300%) translateY(-20px) !important;
}


.cards > *:nth-child(8):hover {
  transform: translateX(-350%) translateY(-20px) !important;
}
.cards > *:nth-child(9):hover {
  transform: translateX(-400%) translateY(-20px) !important;
}
.cards > *:nth-child(10):hover {
  transform: translateX(-450%) translateY(-20px) !important;
}
.cards > *:nth-child(11):hover {
  transform: translateX(-500%) translateY(-20px) !important;
}
.cards > *:nth-child(12):hover {
  transform: translateX(-550%) translateY(-20px) !important;
}






.cards1 > *:nth-child(1) { --index: 0; transform: translateX(0%); }
.cards1 > *:nth-child(2) { --index: 1; transform: translateX(-15%); }
.cards1 > *:nth-child(3) { --index: 2; transform: translateX(-25%); }
.cards1 > *:nth-child(4) { --index: 3; transform: translateX(-35%); }


.cards > *:hover {
  transform: translateY(-20px) !important;
}


/* POUR LES CARTES */

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.disappear {
  animation: disappear 1s ease forwards;
}

@keyframes flyInFromCenter {
  from {
    transform: translateX(0%);
    opacity: 0;
  }
  to {
    transform: translateX(var(--final-x));
    opacity: 1;
  }
}

.cards1 > * {
  opacity: 0;
  animation: flyInFromCenter 0.6s ease-out forwards;
}

.cards1 > *:nth-child(1) {
  --final-x: 0%;
  animation-delay: 0.1s;
}
.cards1 > *:nth-child(2) {
  --final-x: -15%;
  animation-delay: 0.2s;
}
.cards1 > *:nth-child(3) {
  --final-x: -25%;
  animation-delay: 0.3s;
}
.cards1 > *:nth-child(4) {
  --final-x: -35%;
  animation-delay: 0.4s;
}


@keyframes flyInFromCenterWide {
  from {
    transform: translateX(0%);
    opacity: 0;
  }
  to {
    transform: translateX(var(--final-x));
    opacity: 1;
  }
}

.cards > * {
  opacity: 0;
  animation: flyInFromCenterWide 0.6s ease-out forwards;
}

.cards > *:nth-child(1) { --final-x: 0%; animation-delay: 0.1s; }
.cards > *:nth-child(2) { --final-x: -50%; animation-delay: 0.2s; }
.cards > *:nth-child(3) { --final-x: -100%; animation-delay: 0.3s; }
.cards > *:nth-child(4) { --final-x: -150%; animation-delay: 0.4s; }
.cards > *:nth-child(5) { --final-x: -200%; animation-delay: 0.5s; }
.cards > *:nth-child(6) { --final-x: -250%; animation-delay: 0.6s; }
.cards > *:nth-child(7) { --final-x: -300%; animation-delay: 0.7s; }


/* POUR LA PIOCHE */

@keyframes flyToTop {
  from { transform: translate(0, 0) rotate(0); opacity: 1; }
  to { transform: translate(0px, -250px) rotate(0deg); opacity: 0; }
}

.fly-to-top {
  animation: flyToTop 1s ease forwards;
}

@keyframes flyToTopLeft {
  from { transform: translate(0, 0) rotate(0); opacity: 1; }
  to { transform: translate(-300px, -200px) rotate(-30deg); opacity: 0; }
}

.fly-to-topleft {
  animation: flyToTopLeft 1s ease forwards;
}

@keyframes flyToTopRight {
  from { transform: translate(0, 0) rotate(0); opacity: 1; }
  to { transform: translate(300px, -200px) rotate(30deg); opacity: 0; }
}

.fly-to-topright {
  animation: flyToTopRight 1s ease forwards;
}


@keyframes flyToMiddleLeft {
  from { transform: translate(0, 0) rotate(0); opacity: 1; }
  to { transform: translate(-300px, 0px) rotate(-15deg); opacity: 0; }
}

.fly-to-middleleft {
  animation: flyToMiddleLeft 1s ease forwards;
}

@keyframes flyToMiddleRight {
  from { transform: translate(0, 0) rotate(0); opacity: 1; }
  to { transform: translate(300px, 0px) rotate(15deg); opacity: 0; }
}

.fly-to-middleright {
  animation: flyToMiddleRight 1s ease forwards;
}

@keyframes flyToBottom {
  from { transform: translate(0, 0) rotate(0); opacity: 1; }
  to { transform: translate(0px, 250px) rotate(0deg); opacity: 0; }
}

.fly-to-bottom {
  animation: flyToBottom 1s ease forwards;
}



@media screen and (max-width: 1200px) {
	.middle-section .player-info {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  gap: 10px;
	}
	.card1{
	  height: 12vw;
	  width:calc(12vw * (2/3));
	}

	.card {
	  height: 15vw;
	  width:calc(15vw * (2/3));
	  background-size: cover
	}

	.card2 {
	  width:calc(14vw * (2/3));
	  height: 14vw;
	}
	.player-info[data-position="gauche"],
	.player-info[data-position="gauche_h"],
	.player-info[data-position="gauche_b"]{
		margin-left:15%;
	}
	.player-info[data-position="droite"],
	.player-info[data-position="droite_h"],
	.player-info[data-position="droite_b"]{
		margin-right:15%;
	}
}


@media screen and (max-width: 900px) {
	.cards-wrapper{
	  max-width: 600px;
	  display: flex;
	  flex-wrap: wrap;
	  position: relative;
	  margin-top: 1rem;
	  gap: 0;
	}
}
